<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번 호</th>
            <th>제 목</th>
            <th>작 성 일 시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${articles}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/articles/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary">게시글 등록하기</a> <!-- th:href="@{/question/create}"-->
</div>
</html>