<html layout:decorate="~{layout}" lang="ko">
<div layout:fragment="content" class="container my-3">

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번 호</th>
            <th>제 목</th>
            <th>작 성 일 시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${articles}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${
question.subject}"></a>
            </td>
            <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH

:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/question/create}" class="btn btn-primary">질 문 등 록 하 기</a>
</div>
</html>